@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a public application reserved to store scripture quotes </p>

<p>Any sort of misinformation is subjected to being deleted and users may be blocked.</p>
